#header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #111;
    padding: 10px 20px;

    display: flex;
    align-items: center;
    justify-content: center; 
    
    z-index: 1000;
}

#header-img {
    width: 60px;
    position: absolute;
    left: 20px;
}

#nav-bar {
    display: flex;
    gap: 25px;
    align-items: center;
}
